<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
      <div class="form-floating">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="login()"type="submit">
        <div class="d-flex justify-content-center" *ngIf="loaded === false">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        {{loaded === false ? '':'Giriş'}}
      </button>
      <p style="margin-top: 0.25rem;">Hesabın Yok mu? <span (click)="registerUrl()" style="cursor: pointer;" class="text-primary">Hesap Oluştur</span></p>
      <p class="mt-5 mb-3 text-muted">ToDoApp &copy; 2017–2021</p>
    </form>
  </main>
</body>
