<div class="row">
  <div
    class="col-md-3"
    *ngFor="
      let toDo of toDos
        | paginate: { itemsPerPage: 8, currentPage: p, totalItems: totalLength }
    "
  >
    <div
      class="card text-white 
      {{ toDo.p1 === true ? 'bg-danger' : '' }} 
      {{ toDo.p2 === true ? 'bg-info' : '' }} 
      {{ toDo.p3 === true ? 'bg-dark' : '' }} mb-3"
      style="max-width: 18rem; height: 18.5rem"
    >
      <div class="card-header border-light">{{ toDo.fullName }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ toDo.title }}</h5>
        <p class="card-text">
          {{ toDo.description }}
        </p>
      </div>
      <div class="card-footer bg-transparent border-light">
        {{ toDo.startingDate | filterDate }} -- {{ toDo.endingDate | filterDate }}
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" style="margin-right: 3rem;"></pagination-controls>
</div>
