<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
  style="width: 280px; height: 100vh; position: fixed"
>
  <a
    class="
      d-flex
      justify-content-between
      align-items-center
      mb-3 mb-md-0
      text-white text-decoration-none
    "
  >
    <span class="fs-4">{{user}}</span>
    <span class="fs-6 d-flex align-items-center" (click)="logOut()" style="cursor: pointer"
      ><i class="fas fa-lg fa-sign-out-alt"></i
    ></span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" style="cursor: pointer; margin-bottom: 0.5rem">
      <a routerLink="/user/todo" class="nav-link text-white position-relative">
        <i class="bi me-2 fas fa-user-lock" width="16" height="16"></i>
        Kullanıcı Arayüzü
      </a>
    </li>
    <li class="nav-item" style="margin-bottom: 0.5rem">
      <a routerLink="/admin/todos" [routerLinkActive]="'active'" class="nav-link text-white" aria-current="page">
        <i
          class="bi me-2 fas fa-lg fa-clipboard-list"
          width="16"
          height="16"
        ></i>
        Bütün Görevler
      </a>
    </li>
    <li class="nav-item" style="margin-bottom: 0.5rem">
      <a routerLink="/admin/users" [routerLinkActive]="'active'" class="nav-link text-white" aria-current="page">
        <i class="bi me-2 fas fa-users" width="16" height="16"></i>
        Kullanıcılar
      </a>
    </li>
    <li class="nav-item" style="margin-bottom: 0.5rem">
      <a routerLink="/admin/feedBacks" [routerLinkActive]="'active'" class="nav-link text-white" aria-current="page">
        <i class="bi me-2 fas fa-exclamation-circle" width="16" height="16"></i>
        Feed Backs
      </a>
    </li>
  </ul>
</div>
