<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="">
      <h2>Feed Back</h2>
      <form [formGroup]="feedBackForm">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            maxlength="75"
            id="exampleFormControlInput1"
            placeholder="Title"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            formControlName="description"
            maxlength="150"
            placeholder="Description"
            class="form-control"
            id="exampleFormControlInput2"
            rows="5"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Image</label>
          <input
            type="file"
            formControlName="image"
            (change)="onSelectFile($event)"
            accept=".png, .jpg, .jpeg"
            class="form-control"
            maxlength="75"
            id="exampleFormControlInput1"
            placeholder="Image"
          />
        </div>
        <button
          style="float: right"
          (click)="addFeedBack()"
          [disabled]="!outputImage"
          class="btn btn-info"
        >
          Gönder
        </button>
        <Button
          class="btn btn-warning"
          id="cropBtn"
          (click)="getCroppedImage()"
          [disabled]="!url"
          
          >Crop Image</Button
        >
      </form>
    </div>
    <br>
    <div [style]="cropDiv">
      <div >
        <img id="image" [src]="url" style="width: 30rem" />
      </div>
      <div
        class="imgPreview"
        style="overflow: hidden; width: 75%; height: 75%"
      ></div>
    </div>
    <img [src]="outputImage" width="50%">
  </div>
</div>