<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="">
      <h2>Feed Back</h2>
      <form [formGroup]="feedBackForm">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            maxlength="75"
            id="exampleFormControlInput1"
            placeholder="Title"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            formControlName="description"
            maxlength="150"
            placeholder="Description"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="5"
          ></textarea>
        </div>
        <button style="float: right;" (click)="addFeedBack()" class="btn btn-info">Gönder</button>
      </form>
    </div>
  </div>
</div>
